* {
  box-sizing: border-box;
}
#body {
  display: flex;
}
#container{
  display: flex;
  flex-direction: row;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
}


.rightSide{
  border: 1px;
  padding: 40px;
  display: flex;
  flex-direction: column;
 

}
.thumbnail_parent{
  display: flex;
  width: 650px;
  height: 220px;
  align-items: center;
}

.thumbnail {
  /* $(data.js.videos[0].thumbnail) */
  align-self: start;
  width : 380px;

  /* background-color: black; */
}
.imgTitle{
  text-align: center;
  align-self: start;
  text-decoration-style: wavy;
  font-weight: bold;
  font-size: 28px;
}


#searchBox {
 margin-left: 50px;
  width: 800px;
  height: 50px;
  border-color: black;
  font-size: 30px;
align-content: center;
vertical-align: center;}

.suggestFrame {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

#Ghazal{
font-size: 120px;
color: lightcoral;
border: 6px solid #ccc;
text-align: center;

}
#iframeVidTitle{
  font-size: 50px;
  padding-left: 30px;

}
.Tap{
display: flex;
flex-direction: row;
padding-top: 20px;
padding-left: 30px;
}
.tapRow{
  padding-right: 100px;
  font-size: 40px;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  margin-bottom: 30px;
  display: flex;
  padding-top:40px;

}