* {
  box-sizing: border-box;
}
body {
  display: flex;
}
#iframeDiv {
  padding: 20px;
}
.rightSide{
  border: 1px;
  padding: 60px;
  display: flex;
  flex-direction: column;
 

}
.thumbnail_parent{
  display: flex;
  width: 400px;
  height: 120px;
  align-items: center;
  padding-bottom: 130px;
}

.thumbnail {
  /* $(data.js.videos[0].thumbnail) */
  align-self: start;
  width : 200px;
  height :125px;

  /* background-color: black; */
}
.imgTitle{
  text-align: center;
  align-self: start;
  text-decoration-style: wavy;
  font-weight: bold;
}


#searchBox {
 
  width: 400px;
  height: 50px;
  border-color: black;
  font-size: 30px;
}

.suggestFrame {
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

/*   
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;

  width: 180px;
}



div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: j;
  text-size-adjust:auto;
} */
